{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2> {{ book.name }} </h2>
                <p>Дата: {{ book.pub_date|date:'Y-m-d' }} </p>
                <p>Автор: {{ book.author }} </p>
            </div>
            {% endfor %}
        </div>
        {% if back_date %}
            <a class="button button-primary" href="../{{ back_date }}">⟵ {{ back_date }}</a>
        {% endif %}

        {% if forvard_date %}
            <a class="button button-primary" href="../{{ forvard_date }}">{{ forvard_date }} ⟶</a>
        {% endif %}
    </div>
{% endblock %}